.heading {
    text-align: center;
    color: white;
}

* {
    background-origin: border-box;
    background-image: linear-gradient(#333, #333);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #333;
    color: white;
}

.form {
    border: 2px solid #ccc;
}

.day {
    border: 2px solid #ccc;
}

.month {
    border: 2px solid #ccc;
}

.year {
    border: 2px solid #ccc;
}

input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.male {
    cursor: pointer;
    background-color: #333;
}

.female {
    cursor: pointer;
    background-color: #333;
}

.gender {
    background-color: #333;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #333;
    color: white;
}

.day {
    border: 2px solid #ccc;
    cursor: pointer;
}